@font-face {
	font-family: SegoeUI;
	src: url(../_files/SegoeUI.ttf);
}
@font-face {
	font-family: SegoeUI-Light;
	src: url(../_files/SegoeUI-Light.ttf);
}

body{
	margin:0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: SegoeUI;
}

/*-- Video Container --*/
header {
	width: 100%;
	height: 550px;
	overflow: hidden;
	position: relative;
}
.video{
	width: 120%;
	height: 120%;
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center;

	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	margin: -10px -10px -10px -10px;
}
.video .blur {
	background-color: #393939;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	overflow: hidden;
}
.logo {
	width: 400px;
	margin: 0 auto;
	position: relative;
	margin-top: -470px;
}
.logo img {
	width: 100%;
}

/*-- Options Container --*/
header nav {
	margin-top: 60px;
	position: relative;
}
header nav ul{
   list-style-type: none;
   padding: 0;
   margin: 0 auto;
   width: 550px;
}
header nav ul li {
	width: 115px;
	height: 115px;
	display: inline-block;
	text-align: center;
	margin-right: 25px;
}
header nav ul li:nth-child(4) {
	margin-right: 0;
}
header nav ul li a {
	width: 100%;
	height: 100%;
	color: #ffffff;
	background-color: #2EA1E6;
	text-decoration: none;
	display: block;
}
header nav ul li a img {
	height: 45px;
	margin-top: 25px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
header li a:hover{
	background-color: #0F6B99;
}	
figure .sms-f{
	float: right;
	

}
article .sms-p{
	display: inline-block;
	
}

}
footer figure img{
	display: inline-block;
	width: 6%;
	height: 7%;
}
footer nav ul li{
	display: inline-block;
	
}