@font-face {
	font-family: SegoeUI;
	src: url(../_files/SegoeUI.ttf);
}
@font-face {
	font-family: SegoeUI-Light;
	src: url(../_files/SegoeUI-Light.ttf);
}

body{
	margin:0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: SegoeUI;
}

/*-- Video Container --*/
.video-container {
	width: 100%;
	height: 550px;
	overflow: hidden;
	position: relative;
}
.video-container .video{
	width: 120%;
	height: 120%;
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center;

	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	margin: -10px -10px -10px -10px;
}
.video .blur {
	background-color: #393939;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	overflow: hidden;
}
.video-container .logo {
	width: 400px;
	margin: 0 auto;
	position: relative;
	margin-top: -470px;
}
.video-container .logo img {
	width: 100%;
}

/*-- Options Container --*/
.video-container nav {
	margin-top: 60px;
	position: relative;
}
.video-container nav ul{
   list-style-type: none;
   padding: 0;
   margin: 0 auto;
   width: 550px;
}
.video-container nav ul li {
	width: 115px;
	height: 115px;
	display: inline-block;
	text-align: center;
	margin-right: 25px;
}
.video-container nav ul li:nth-child(4) {
	margin-right: 0;
}
.video-container nav ul li a {
	width: 100%;
	height: 100%;
	color: #ffffff;
	background-color: #2EA1E6;
	text-decoration: none;
	display: block;
}
.video-container nav ul li a img {
	height: 45px;
	margin-top: 25px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
.video-container li a:hover{
	background-color: #0F6B99;
}	

.container .nosotros .img{
	width:  40%;
	height: 500px;
	float: left;
	background-color: red;

}
.container .nosotros .img img{
	width:  400px;
	height: 200px;
}
.container .nosotros .txt{
	width:  60%;
	float: left;
	height: 500px;
	
	background-color: blue;
}
