body{
	margin:auto;
	padding: auto;
	width: auto;


}

#navegador ul{
   list-style-type: none;
   text-align: center;
}
#navegador li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
#navegador li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}
#navegador li a:hover{
	background-color: #333333;
	color: #ffffff;
}	

.video-container {
	width: 100%;
	height: 550px;
	overflow: hidden;
	position: relative;
}
.video-container .video{
	width: 115%;
	height: 115%;
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center;

	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	margin: -10px -10px -10px -10px;
}
.video .blur {
	background-color: #393939;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	overflow: hidden;
}
.video-container .logo {
	width: 400px;
	margin: 0 auto;
	position: relative;
	margin-top: -500px;
}
.video-container .logo img {
	width: 100%;
}

.container .nosotros .img{
	width:  40%;
	height: 500px;
	float: left;
	background-color: red;

}
.container .nosotros .img img{
	width:  400px;
	height: 200px;
}
.container .nosotros .txt{
	width:  60%;
	float: left;
	height: 500px;
	
	background-color: blue;
}
